* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-synthesis: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}